{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Iniciando sesion" %}{% endblock %}

{% block content %}
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Conectandose via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}Esta a punto de conectar una nueva cuenta de terceros desde {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Conectandose via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}Esta a punto de conectar una nueva cuenta de terceros desde {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continuar" %}</button>
</form>

</div>
</div>
{% endblock %}
