{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambia la contraseña" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Token malo" %}{% else %}{% trans "Cambia la contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Cambia la contraseña' %}"/>
        </form>
    {% endif %}
{% endblock %}
