{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cambia la contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Cambia la contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Cambia la contraseña" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "¿Has olvidado tu contraseña?" %}</a>
    </form>
{% endblock %}
