{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registrarse" %}{% endblock %}

{% block content %}

<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<h1>{% trans "Registrarse" %}</h1>

<p>{% blocktrans %}¿Ya tienes una cuenta? entonces por favor <a href="{{ login_url }}">registrate</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Registrarse" %} &raquo;</button>
</form>
</div>
</div>

{% endblock %}
