{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifique su dirección de correo electrónico" %}{% endblock %}

{% block content %}
<h1>{% trans "Verifique su dirección de correo electrónico" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta parte del sitio requiere que verifiquemos que
    eres quien dices ser. Para este propósito, le requerimos que
    verificar la propiedad de su dirección de correo electrónico. {% endblocktrans %}</p>

<p>{% blocktrans %}Le hemos enviado un correo electrónico para
    verificación. Por favor, haga clic en el enlace dentro de ese correo electrónico. Si no ve el correo electrónico de verificación en su bandeja de entrada principal, verifique su carpeta de correo no deseado. De lo contrario
    contáctanos si no lo recibes en unos minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> todavia puedes <a href="{{ email_url }}">cambiar tu direccion de correo electronico</a>.{% endblocktrans %}</p>


{% endblock %}
