@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Global styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	font-family: 'Poppins', arial;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1015' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1015' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1013'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1010'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1012'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1014'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1009'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1011'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1015'%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='30' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='150' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='150' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='150' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='210' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='210' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='210' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='210' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='270' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='270' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='330' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='330' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='330' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='390' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='390' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='390' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='390' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='390' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='390' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='450' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='510' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='510' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='570' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='570' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='570' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='570' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='570' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='630' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='630' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='630' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='30' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='90' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='150' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='690' y='210' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='270' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='330' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='690' y='390' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='690' y='450' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='510' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='570' stroke='rgba(226%2c 213%2c 227%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}





:root {
	--h1: #130F49;
	--blue: #34A1CD;
	--dark-purple: #55527C;
	--grey: #B4B2C5;
	--pink: #EA4C89;
	--circle: #F4F3FF;
	--light-pink: #FFF5F6;
	--light-purple: #ADA8FF;
	--light-blue: #E9F9FF;
	--red: #ff0000;
}

li {
	list-style: none;
}

li:hover {
	font-size: 20px;
	font-weight: bold;
	transform: scale(1.2);
}

h1 {
	font-size: 45px;
	color: var(--h1);
	font-weight: bold;
}

h3 {
	color: var(--grey);
}

p, label {
	font-size: 16px;
	color: var(--grey);
}

a {
	text-decoration: none;
}

.ctn {
	width: 100px;
	padding: 8px 12px;
	background: var(--h1);
	color: whitesmoke;
	border-radius: 5px;
	text-align: center;
}

.ctn:hover {
	background: white;
	border: 1px solid var(--h1);
	color: var(--h1);
	font-weight: bold;
}



.row {
	display: flex;
	justify-content: center;
}

.col {
	display: flex;
	justify-content: center;
}

.highlight {
	color: var(--blue);
}

.circle {
	width: 500px;
	height: 500px;
	background: var(--circle);
	position: absolute;
	top: -40%;
	right: -30%;
	border-radius: 50%;
	z-index: -1;
}


/* Navbar */

.navbar {
	width: 100%;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.toggle-btn i{
	font-size: 30px;
	color: var(---dark-purple);
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
}
.navbar .nav-list ul,
.social-icons ul {
	display: flex;
}

.nav-list ul li,
.social-icons ul li {
	margin: 0px 30px;
	color: var(--dark-purple);
	font-size: 18px;
	cursor: pointer;
}

.social-icons ul li:hover {
	transform: scale(1.4);
}

.logo {
	width: 50px;
}


/*Carousel*/

.carousel {
	border-radius: 55px 55px 55px 55px;
	overflow: hidden;
}


/*Header*/

.header {
	margin-top: 0px;
	height: 100vh;
}

.header .col-1 {
	width: 100%;
	flex-direction: column;
	padding: 30px;
}

.header .col-2 {
	width: 100%;
}

.header .col-2 img {
	max-width: 80%;
}

.header p {
	margin: 30px auto;
}


/* Skills */

.title {
	text-align: center;
	margin-bottom: 60px;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	grid-gap: 50px
}

.icon-title {
	display: flex;
	align-items: center;
}

.icon-title img {
	margin-right: 20px;
}

.icon-title h2 {
	font-size: 20px;
	color: var(--h1);
}

.grid-box2 .highlight {
	color: var(--dark-purple);
	font-weight: bold;
}

.grid-box {
	padding: 30px;
	background-image: linear-gradient( 90deg, #EEEEEE 0%, #EEEEEE 40%, #DDDDDD 50%, #DDDDDD 55%, #EEEEEE 65%, #EEEEEE 100%);
	background-size: 400%;
	animation: shimmer 3500ms infinite;
	border-radius: 10px;
}

@keyframes shimmer {
	from {
		background-position: 100% 100%;
	}
	to {
		background-position: 0 0;
	}
}

.grid-box2 {
	padding: 30px;
}

.skills .grid-box:hover {
	box-shadow: 0px 0px 30px #0000002f;
	border-radius: 20px;
}


/* Servicios*/

.servicios {
	margin-top: 150px;
	position: relative;
}

.servicios .title {
	text-align: left;
}

.servicios .title .ctn-title {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.ctn-title h4 {
	color: var(--dark-purple);
	cursor: pointer;
}

.ctn-title .highlight {
	color: var(--pink);
}

.servicios .grid-wrapper {
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-gap: 20px;
}

.rect-bg {
	width: 700px;
	height: 400px;
	background: var(--light-pink);
	position: absolute;
	top: -10%;
	right: -20%;
	z-index: -1;
	border-radius: 20px;
}

.servicios .grid-box2 {
	position: relative;
}

.hover {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 60%;
	height: 60%;
	background-color: var(--dark-purple);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: whitesmoke;
	border-radius: 10px;
	transform: scaleX(0);
}

.hover .highlight {
	color: var(--pink);
}

.servicios .grid-box2:hover .hover {
	transform: scaleX(1);
	transition: transform 0.5s ease;
}


/* Testimonios */

.testimonials {
	margin-top: 120px;
	background: rgb(255, 245, 246, 0.5);
	padding: 60px 0px;
	border-radius: 50px;
}

.testimonials .grid-wrapper {
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.testimonials .grid-box2 {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.205);
	position: relative;
}

.testimonials .grid-box2 img {
	margin-top: -60px;
	margin-bottom: 40px;
	transition: transform 0.5s ease;
}

.testimonials .grid-box2 .fa-quote-left {
	font-size: 24px;
	color: var(--grey);
}

.testimonials .grid-box2 p {
	margin: 20px 0px;
}

.testimonials h4 {
	color: var(--dark-purple);
	font-weight: bold;
}

.testimonials .rating {
	color: var(--blue);
}

.testimonials .rating-1 {
	color: var(--pink);
}

.testimonials .grid-box2:hover img {
	transform: scale(1.2);
}

.testimonials .grid-box2:hover {
	transform: rotateZ(2deg);
}


/* Contacto */

.contact .container {
	margin-top: 80px;
	text-align: center;
	background: var(--light-blue);
	padding: 60px;
	border-radius: 20px;
}

.contact .container h3 {
	margin: 40px 0px;
}

.contact .fa {
	margin-right: 30px;
	font-size: 30px;
	color: var(--blue);
}

.contact .quick-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact .quick-links ul {
	display: flex;
}

.contact .quick-links ul li {
	margin: 0px 20px;
	color: var(---dark-purple);
	font-weight: bold;
	cursor: pointer;
}

.copyright {
	color: var(--dark-purple);
	font-weight: bold;
}

.carousel {
	width: 100%;
	height: 570px;
}

.formulario-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formulario-container h2{
	color: var(--dark-purple);
}
form {
	background: #fff;
	padding: 20px;
	border-radius: 6px;
	max-width: 576px;
	margin: 0 16px;
	display: block;
}

form h2 {
	text-align: center;
	font-weight: 600;
	margin-bottom: 25px	;
}

form .form-inline {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
}

form .form {
	position: relative;
	width: 100%;
}

form .form input,
form .form textarea {
	margin-bottom: 16px;
	padding: 8px;
	width: 100%;
	border-radius: 3px;
	border: 2px solid #bbb;
	outline: none;
	transition: .3s ease;
}

form .form label {
	position: absolute;
	top: 50%;
	left: 8px;
	color: red;
	transform: translateY(-50%);
	padding: 0 2px;
	transition: .3s ease;
	opacity: 0.75;
}

form .form textarea ~ label {
	top: 8px;
	transform: unset;
}

form .form textarea {
	resize: vertical;
}

form .form input.invalid ~ label,
form .form textarea.invalid ~ label,
form .form input.valid ~ label,
form .form textarea.valid ~ label,
form .form input:focus ~ label,
form .form textarea:focus ~ label {
	top: -10px;
	font-size: 13px;
	font-weight: 500;
	background: #fff;
	transform: unset;
}

form .form input.valid ~ label,
form .form textarea.valid ~ label {
	color: var(--dark-purple);
}

form .form input.valid,
form .form textarea.valid {
	border-color: var(--dark-purple);
}

form .form input.invalid ~ label,
form .form textarea.invalid ~ label {
	color: var(--red);
}

form .form input.invalid,
form .form textarea.invalid {
	border-color: var(--red);
}

form button {
	padding: 10px 30px;
	background: transparent;
	color: var(--dark-purple);
	border: 2px solid var(--dark-purple);
	border-radius: 3px;
	cursor: pointer;
	transition: .3s ease;
	font-weight: 600;
}

form button:hover {
	background: var(--dark-purple);
	color: #fff;
}

.slider {
	width: 100%;
	height: calc(100vh - 60px);
	padding: 0;
	margin: 0;
	overflow: hidden;
	margin-bottom: 35px;
}

.slider-container{
	padding: 0;
	margin: 0;
	display: flex;
	width: 400%;
	animation: slider 20s infinite alternate linear;
}

.slider img {
	border-radius: 12px;
}
.slider-container > figure{
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	user-select: none;
}

.slider-container > figure::before {
	content: attr(aria-label);
	display: block;
	position: absolute;
	left: 0;
	top: 60%;
	z-index: 2;
	text-align: center;
	color: #fff;
	font-size: 40px;
	width: 100%;
}

.img-responsive {
	width: 100%;
	height: auto;
}

@keyframes slider {
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

/* BLOG */
  
  .articles{
	margin-top: 30px;
  }
  .articles .article{
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 30px;
  }
  .articles .article .left img{
	height: 300px;
	width: 500px;
  }
  .articles .article .right {
	margin-left: 40px;
	max-width: 50%;
  }
  .articles .article .right p.date{
	color: #7f7e7e;
  }
  .articles .article .right p.description{
	color: #2d2d2d;
  }
  
  
  @media screen and (max-width: 640px){
	nav .onglets{
	  margin-top: -10px;
	}
	.articles .article .left img{
	  height: 100%;
	  width:100%;
	}
	.articles .article .right{
	  margin: 0px;
	  max-width: 100%;
	}
  }

  .formularioblog{
	margin-top: 80px;
	text-align: left;
	background: var(--light-blue);
	padding: 60px;
	border-radius: 20px;
  }
  